/* Typography:
H1 - Orbitron - bold 
H2 - Montserrat - semibold
H3 - Poppins - medium
p - Space Mono - regular
else - Space Mono - regular */

/* Color Scheme: 
background-color: #353230
font-color-primary: #FAF9F6 
font-color-secondary: EEB974ef */

/* Sizes:
img - max 500px, min 200px 
hero-img -? 
fonts - ? */

/* header, nav, main, h1, .p-hero, section, #hero, #rings, #moons, #structure, #atmosphere, #observation, h2, article, h3, p, img, footer, ul, li, .photo-gallery */

:root {
  --h1-font: "Orbitron", sans-serif;
  --h2-font: "Montserrat", sans-serif;
  --h3-font: "Poppins", sans-serif;
  --p-font: "Space Mono", monospace;
  --button-font: "Space Mono", monospace;
  --hyperlink-font: "Space Mono", monospace;
  --list-font: "Space Mono", monospace;
  --bgcolor: #353230;
  --font-color-primary: #faf9f6;
  --font-color-secondary: #eeb974ef;
  --h1-font-size: 60px;
  --h2-font-size: 45px;
  --h3-font-size: 30px;
  --p-font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
  color: var(--font-color-primary);
}
/* section {
  min-width: 100%;
  min-height: 100svh;
} */
h1 {
  font-family: var(--h1-font);
  color: var(--font-color-secondary);
  font-size: var(--h1-font-size);
}
h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-font-size);
  font-weight: 610;
}
h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-font-size);
  font-weight: 500;
}
p {
  font-family: var(--p-font);
  font-size: var(--p-font-size);
}
li {
  font-family: var(--list-font);
}
#observation {
  background-color: black;
  /* height: auto; */
  min-height: 1000px;
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-border {
  background-color: var(--bgcolor);
  border: solid var(--font-color-primary);
  border-radius: 20px;
  margin: 0% 5% 4%;
  /* height: auto; */
  display: flex;
}
#observation h2 {
  font-family: var(--h1-font);
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: gray;
  -webkit-text-stroke-width: 0.5px;
  text-shadow: -2px 5px 5px black;
}
#observation h3 {
  font-family: var(--h2-font);
}
.explore-article span {
  font-weight: 600;
  font-style: italic;
  color: #a99d6d;
}
.explore-article span:hover {
  font-size: 18px;
  cursor: pointer;
}
.media-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
}
.text-box {
  display: flex;
  flex-direction: column;
}
.observe-article,
.explore-article {
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* gap: 30px; */
}
/* #observation article {
  max-width: 45%;
  width: 650px;
  height: 500px;
  min-height: 400px;
  max-height: 500px;
} */
/* .observe-img img {
  width: 550px;
  height: 400px;
} */
/* box-shadow: 0px 20px 30px #eeb974ef; */
/* box-shadow: 15px 15px 0px #a99d6d; */
/* .observe-video iframe {
  width: 550px;
  height: 400px;
} */
/* box-shadow: 0px 20px 30px #eeb974ef; */
/* box-shadow: -15px 15px 0px #a99d6d; */
/* #observe p {
  text-align: left;
} */
